@import "ThemeStyles.scss";

.noticeUpdateLayout {
  width: 100%;
  height: 91vh;
  overflow-y: scroll;
  background-image: url(../assets/BackgroundAsset.svg);
  background-size: cover;
}

.updateContainer {
  background-color: white;
  margin-left: 21.5%;
  margin-top: 7.9vh;
  display: inline-flex;
  width: 57vw;
  height: 63.3vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.noticeUpdateTitleTextBox {
  width: 42.3vw;
  height: 3vh;
  margin-left: 7.6vw;
  margin-top: 13.8vh;
  margin-bottom: 3vh;
  @include heading2Font($black100Color);
  border: none;
}

input::placeholder {
  color: $black25Color;
}

input:focus::placeholder {
  color: transparent;
}

.noticeUpdateBodyTextBox {
  width: 42.3vw;
  height: 35vh;
  margin-left: 7.6vw;
  margin-bottom: 6.56vh;
  @include body1Font($black100Color);
  border: none;
  resize: none;
}

textarea::placeholder {
  color: $black50Color;
}

.noticeUpdateFileChoose {
  text-align: center;
  height: 4.5vh;
  @include button1Font($primaryColor);
  margin-bottom: 0.45vh;
  margin-left: 7.6vw;
}

.noticeUpdateBtns {
  margin-top: 4.52vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noticeUpdateCancelBtn {
  @include heading2Font($black100Color);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  margin-left: 35.4vw;
  width: 13.8vw;
  height: 6.7vh;
}

.noticeUpdateSaveBtn {
  @include heading2Font($white100Color);
  background-color: $primaryColor;
  border: none;
  border-radius: 8px;
  margin-left: 1.3vw;
  width: 13.8vw;
  height: 6.7vh;
}
