@import "styles/ThemeStyles.scss";

header {
  @include mobile {
    width: 100%;
    height: 69px;
  }
  @include tablet {
    height: 80px;
    width: 69px;
  }
  @include desktop {
    width: 100%;
    height: 69px;
  }
  position: sticky;
  top: 0;
  display: flex;
  @include centerFormat();
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-color: $white100Color;
}

#logoAsset {
  @include centerFormat();
  display: flex;
  width: 14.7vw;
  align-items: flex-start;
  padding-left: 5vw;
  overflow: hidden;
  white-space: nowrap;
}

#centerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 28px;
}

#centerButtons_button {
  @include centerFormat();
  display: flex;
  width: 32.5vw;
  align-items: flex-start;
  gap: 5vw;
  padding-left: 13.9vw;
  padding-right: 12.4vw;
  overflow: hidden;
  white-space: nowrap;
}

#centerButtons_line {
  @include centerFormat();
  display: flex;
  width: 32.5vw;
  height: 22px;
  gap: 5vw;
  align-items: flex-end;
  padding-left: 13.9vw;
  padding-right: 12.4vw;
  padding-bottom: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.centerLine {
  height: 2px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  background-color: $black100Color;
}

.centerLine:nth-child(1) {
  width: 56px;
}
.centerLine:nth-child(2) {
  width: 56px;
}
.centerLine:nth-child(3) {
  width: 56px;
}
.centerLine:nth-child(4) {
  width: 83px;
}

.centerButton {
  padding: 0;
  @include subHeading2Font($black100Color);
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.centerButton:nth-child(1) {
  width: 56px;
}

.centerButton:nth-child(2) {
  width: 56px;
}

.centerButton:nth-child(3) {
  width: 56px;
}

.centerButton:nth-child(4) {
  width: 83px;
}

#rightButtons {
  display: flex;
  width: 27vw;
  height: 33px;
  vertical-align: middle;
  align-items: flex-start;
  gap: 2.6vw;
  overflow: hidden;
  white-space: nowrap;
}

.rightButton {
  display: inline-flex;
  @include centerFormat();
  padding: 0;
  @include subHeading3Font($black75Color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.rightButton:first-child {
  width: 111px;
  height: 33px;
  justify-content: end;
}

.rightButton:nth-child(2) {
  width: 33px;
  height: 33px;
}

.rightButton:nth-child(3) {
  width: 33px;
  height: 33px;
}

#globalIconAsset {
  padding: none;
  margin: none;
}

#myProfileIconAsset {
  padding: none;
  margin: none;
}

#myProfile-popUp-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;

  #myProfile-popUp-container {
    width: 224px;
    height: 230px;
    margin-top: 70px;
    margin-left: 81vw;
    border-radius: 10px;
    background-color: $white60Color;
    box-shadow: 0px 4px 10px 0px $black25Color;

    #myProfile-popUp-contents {
      display: flex;
      flex-direction: column;
      padding: 25px;

      #user-name {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        @include heading3Font($black100Color);
        padding-bottom: 5px;

        button {
          width: 25px;
          height: 25px;
          padding: 0;
          margin: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }

      #user-email {
        @include captionFont($black100Color);
        padding-bottom: 25px;
      }

      #user-phoneNumber {
        @include captionFont($black100Color);
        padding-bottom: 60px;
      }

      #myProfile-popUp-buttons {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 22px;
        gap: 2px;

        hr {
          width: 1px;
          height: 8px;
          padding: 0;
          margin: 0;
          overflow: visible;
          border: none;
          background-color: $black50Color;
        }

        #left-button {
          border: none;
          background-color: transparent;
          @include captionFont($primaryColor);
          cursor: pointer;
        }

        #right-button {
          border: none;
          background-color: transparent;
          @include captionFont($errorColor);
          cursor: pointer;
        }
      }
    }
  }
}
