@import "styles/ThemeStyles.scss";

#Home {
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-color: $white100Color;
}

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include centerFormat();

  .Title {
    height: 65px;
    @include displayFont($black100Color);
    padding-top: 29.4vh;
    padding-bottom: 0vh;
    margin: 0;
  }
  .SubTitle {
    height: 22px;
    @include body2Font($black100Color);
    padding-top: 1.7vh;
    margin: 0;
  }

  .ButtonText {
    height: 22px;
    @include body2Font($black100Color);
    padding-top: 26vh;
  }

  .ButtonIcon {
    width: 34px;
    height: 48px;
    padding-top: 1.6vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
