@import "styles/ThemeStyles.scss";

.HomeLayout {
  width: 100%;
  height: 1860px;

  .HomeStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 804px;
    background-image: url("../assets/BackgroundAsset.svg");
    background-repeat: no-repeat;
    background-position: left top;
    justify-content: start;
    text-align: center;

    .Title {
      height: 65px;
      padding-top: 272px;
      @include displayFont($black100Color);
    }
    .SubTitle {
      height: 22px;
      padding-top: 1.7vh;
      @include body2Font($black100Color);
    }

    .ButtonText {
      height: 22px;
      @include body2Font($black100Color);
      padding-top: 26vh;
    }
    .ButtonIcon {
      width: 34px;
      height: 48px;
      padding-top: 1.6vh;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-left: 739px;
    }
  }

  .NoticeLayout {
    width: 100%;
    height: 871px;
  }

  .footer {
    width: 100%;
    height: 186px;
    background-color: rgba(246, 249, 253, 1);
  }
}
