@import "styles/ThemeStyles.scss";

.HomeLayout {
  width: 100%;
  height: 207.8vh;
  display: flex;
  flex-direction: column;

  .HomeBackground {
    width: 100%;
    height: 92.3vh;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .HomeStyle {
      width: 100%;
      height: 82.46vh;
      background-image: url("../assets/BackgroundAsset.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      justify-content: start;
      text-align: center;
      z-index: 2;
      margin: 0;
      padding: 0;

      .Title {
        height: 7.35vh;
        padding-top: 27.76vh;
        @include displayFont($black100Color);
      }
      .SubTitle {
        height: 2.48vh;
        padding-top: 1.7vh;
        @include body2Font($black100Color);
      }

      .ButtonText {
        height: 2.48vh;
        @include body2Font($black100Color);
        padding-top: 23vh;
      }
      .ButtonIcon {
        height: 5.43vh;
        padding-top: 1.6vh;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .NoticeLayout {
    width: 100%;
    height: 98.5vh;
    margin-bottom: 0;
  }

  footer {
    width: 100%;
    height: 186px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background-color: $footerColor;
  }
}
