@import "ThemeStyles.scss";

.LoadingBackGround {
  min-height: 91vh;
  width: 100%;
  background-size: cover;
  background: $white80Color;
  backdrop-filter: blur(2px);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .GifContainer {
    height: 250px;
    width: 400px;
    background-color: transparent;
    z-index: 999;
    .LoadingGif {
      height: 200px;
      width: 350px;
      background: none;
      top: 0;
      left: 0;
      z-index: 999;
    }
  }
}
