@import "ThemeStyles.scss";

.LoadingBackGround{
  height: 950px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: skyblue;
  background-size: cover;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LoadingGif {
  height: 200px;
  width: 350px;
  background: none;
  top: 0;
  left: 0;
  z-index: 999;
}
