@import "styles/ThemeStyles.scss";

.login-body {
  display: flex;
  @include centerFormat();
  width: 100%;
  min-height: calc(100vh - 69px);
  // padding-top: 13vh;
  // padding-bottom: 13vh;
}

.LoginContainer {
  width: 35.7vw;
  min-width: 340px;
  height: 526px;
  background-color: $white60Color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  flex-direction: column;
  .Contents {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-left: 5.6vw;
    margin-right: 5.6vw;
    margin-bottom: 49.22px;
    span {
      @include heading2Font($primaryColor);
      text-align: center;
      padding-bottom: 52px;
    }
    form {
      text-align: center;
      input {
        background: transparent;
      }
    }
    .InputTextBox {
      width: 24.6vw;
      min-width: 240px;
      height: 30px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $black50Color;
      margin-bottom: 53px;
      @include subHeading3Font($black100Color);
    }

    .InputTextBox::placeholder {
      @include body1Font($black50Color);
    }

    .InputTextBox:focus {
      outline: none;
    }
    .InputTextBox:focus::placeholder {
      color: transparent;
    }

    .saveId-checkbox {
      display: inline-flex;
      width: 24.6vw;
      min-width: 240px;
      padding-bottom: 42px;

      #checkbox + label {
        display: inline-flex;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0;
        margin-right: 12px;
        border-radius: 2px;
        border: 1px solid $black50Color;
        background-image: url("../assets/icons/CheckboxIconAsset.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      #checkbox:checked + label {
        display: inline-flex;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0;
        margin-right: 12px;
        border-radius: 2px;
        border: 1px solid $primaryColor;
        background-color: $primaryColor;
        background-image: url("../assets/icons/CheckFillboxIconAsset.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      #checkbox {
        display: none;
      }

      #label {
        vertical-align: middle;
        width: 70px;
        height: 22px;
        @include body2Font($black100Color);
      }

      span {
        padding-bottom: 0;
      }
    }

    #submit-button {
      width: 24.6vw;
      min-width: 240px;
      height: 60px;
      border-radius: 8px;
      border: none;
      background-color: $primaryColor;
      @include heading2Font($white100Color);
      cursor: pointer;
    }

    .UpdateAndSigninButtonsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 28px;
      width: 100%;
      gap: 8px;
    }

    .UpdateAndSigninButtons {
      width: 24.6vw;
      min-width: 240px;
      text-align: left;
      @include body1Font($black50Color);
      cursor: pointer;

      span {
        padding-bottom: 0;
        @include body1Font($primaryColor);
      }
    }
  }
}
