@import "styles/ThemeStyles.scss";

.login {
  .container {
    background-color: $white100Color;
    position: absolute;
    height: 615px;
    width: 540px;
    top: 50%;
    left: 50%;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 4px 10px 0px $black25Color;
    .contents {
      background-color: $white100Color;
      margin-top: 20px;
      margin-left: 84px;
      height: 500px;
      width: 372px;
    }
    p {
      @include heading2Font($primaryColor);
      text-align: center;
      margin-top: 30px;
    }
  }

  .emailandpasswordOntextbox {
    width: 99.6%;
    height: 8.1%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid;
    border-color: $black50Color;
    display: flex;
    margin-bottom: 14.5%;
    @include subHeading3Font($black100Color);
  }

  .submitButton {
    width: 99.7%;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px;
    background: $primaryColor;
    @include heading2Font($white100Color);
  }
}

.saveIdCheckBox {
  display: flex;
  width: 13.7%;
  height: 70%;
  align-items: flex-start;
  border-color: $black50Color;
}

.saveIdContainer {
  display: flex;
  width: 29%;
  height: 8.7%;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 14.5%;
}
label {
  @include body2Font($black100Color);
}

.updateAndSigninButtonsContainer {
  display: flex;
  width: 300px;
  height: 19px;
  align-items: flex-start;
  gap: 27px;
}

.updateAndSigninButtons {
  display: flex;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid;
  background-color: transparent;
  border-color: $primaryColor;
  @include subHeading3Font($primaryColor);
}
