@import "styles/ThemeStyles.scss";

.login-body {
  display: flex;
  @include centerFormat();
  height: 100%;
  padding-top: 13vh;
  padding-bottom: 13vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-color: $white100Color;
}

.LoginContainer {
  height: 615px;
  width: 35.7vw;
  background-color: $white100Color;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px $black25Color;
  flex-direction: column;
  .Contents {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-left: 5.6vw;
    margin-right: 5.6vw;
    margin-bottom: 49.22px;
    span {
      @include heading2Font($primaryColor);
      text-align: center;
      padding-bottom: 53px;
    }
    form {
      text-align: center;
    }
    .InputTextBox {
      width: 24.6vw;
      height: 30px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1.5px solid;
      border-color: $black50Color;
      margin-bottom: 53px;
      @include subHeading3Font($black100Color);
    }

    .InputTextBox::placeholder {
      @include body1Font($black50Color);
    }

    .InputTextBox:focus {
      outline: none;
    }
    .InputTextBox:focus::placeholder {
      color: transparent;
    }

    .SaveIdContainer {
      width: 6.9vw;
      padding-bottom: 53px;
      input[type="checkbox"] {
        border-color: $black50Color;
      }
      label {
        @include body2Font($black100Color);
      }
    }

    input[type="checkbox"] {
      display: inline;
      vertical-align: middle;
      width: 22px;
      height: 22px;
      margin: 0;
      margin-right: 12px;
    }

    label {
      display: inline;
      vertical-align: middle;
      width: 17vw;
      height: 22px;
      @include body2Font($black50Color);
    }

    .SubmitButton {
      width: 24.6vw;
      height: 60px;
      border-radius: 8px;
      border: none;
      background: $primaryColor;
      @include heading2Font($white100Color);
      cursor: pointer;
    }

    .SubmitButton:hover {
      background-color: $hoverAndClickColor;
      transition: 0.5s;
    }

    .UpdateAndSigninButtonsContainer {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 19px;
      padding-top: 49.22px;
      gap: 1.9vw;
    }

    .UpdateAndSigninButtons {
      border: none;
      background-color: transparent;
      border-color: $primaryColor;
      text-decoration-line: underline;
      @include subHeading3Font($primaryColor);
      cursor: pointer;
    }
  }
}
