@import "ThemeStyles.scss";

.noticeViewLayout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-image: url(../assets/BackgroundAsset.svg);
  background-size: cover;
  padding-bottom: 19.5vh;
}
.noticeViewTitle {
  @include heading2Font($black100Color);
  align-items: flex-start;
  float: left;
  width: 21vw;
  margin-right: 13.4vw;
}

.noticeViewRightText {
  @include body1Font($black75Color);
}
.noticeViewTopSection {
  display: flex;
  align-items: justify;
  justify-content: space-between;
}

.noticeViewRightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 7.4vw;
}

.noticeViewAttachmentText {
  @include body1Font($primaryColor);
  display: flex;
  flex-direction: column;
}
.noticeViewBodyText {
  @include body1Font($black75Color);
  display: flex;
  height: auto;
  flex-direction: column;
}
.noticeViewBoxContainer {
  width: 57.1%;
  min-height: 61.2vh;
  height: auto;
  background-color: $white100Color;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  gap: 10px;

  margin-top: 10.5vh;
  margin-left: 21.43vw;
  margin-right: 21.43vw;

  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.noticeViewContent {
  display: inline-flex;
  padding: 11.3vh 13.2%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.adminNoticeViewButtonsSection {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}
.adminNoticeViewButtonsContainer {
  display: flex;
  gap: 20px;
  margin-left: 13.76%;
}
.noticeViewNavigateList {
  @include heading2Font($black100Color);
  display: flex;
  width: 210px;
  height: 61.686px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid $secondaryColor;
  background-color: rgba(0, 0, 0, 0);
}

.adminNoticeUpdateButton {
  @include heading2Font($white100Color);
  display: flex;
  width: 210px;
  height: 61.686px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background-color: ($primaryColor);
}

.adminNoticeDeleteButton {
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 11.11vw;
  margin-top: 14px;
}
