@import "ThemeStyles.scss";
@import "swiper/swiper-bundle.min.css";
@import "swiper/swiper.min.css";

@mixin centerItem() {
  align-items: center;
  justify-content: center;
}
.noticeListLayout {
  width: 100%;
  height: 91vh;
  background: $white100Color;
}
.centered {
  @include centerItem();
}
.noticeHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 9.3vh;

  .noticeListHead {
    display: flex;
    margin-left: 33%;
    width: 34vw;
    height: 4.87vh;
    border: none;
    @include heading1Font($primaryColor);
    @include centerItem();
  }
  .noticeWriteBtn {
    @include centerItem();
    display: flex;
    position: absolute;
    margin-left: 23vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 48px;
    color: $primaryColor;
    background-color: inherit;
    border: none;
  }
}

.noticeBoxContainer {
  justify-content: start;
  width: 86.7%;
  height: 47.5vh;
  margin-left: 6.6%;
  margin-right: 6.6%;
  display: flex;
  overflow: hidden;
  .cardNotice {
    display: flex;
    width: 400px;
    height: 45.2vh;
    margin: 0.7%;
    margin-right: 2.6%;
    gap: 0.7%;
    flex-shrink: 0;
    border-radius: 0.7%;
    box-shadow: 0px 4px 10px 0px $black25Color;
    background-color: #e8edfb80;
    .contentCard {
      margin-top: 5.2vh;
      margin-bottom: 5.2vh;
      margin-right: 15%;
      margin-left: 13%;
      width: 20.37vw;
      height: 32.8vh;
      cursor: pointer;
      .noticeListTitle {
        @include heading2Font($black100Color);
        height: 25px;
        margin-bottom: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .noticeListDate {
        @include body1Font($black75Color);
        height: 22px;
        margin-bottom: 24px;
      }
      .noticeListBody {
        @include body1Font($black75Color);
        display: block;
        height: 23vh;
        white-space: pre-wrap;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
.cardNotice:hover {
  background-image: url(../assets/BackgroundAsset.svg);
}

.swiper-wrapper {
  width: 1412px;

  .swiper-slide {
    display: flex;
  }

  .swiper-slide-active {
    width: 400px;
  }
  .swiper-slide-next {
    width: 400px;
  }
}
.swiper-button-prev::after {
  color: $black100Color;
  margin-top: 450px;
}
.swiper-button-next::after {
  color: $black100Color;
  margin-top: 450px;
  margin-right: 200px;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  .swiper-pagination-bullet-active {
    background: $black100Color;
  }
}

.paginationBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.4vh;
  margin-top: 6.78vh;
  margin-bottom: 9.6vh;

  .paginationLtBtn {
    margin-left: 6.6vw;
    width: 2.3%;
    height: 3.9vh;
    border: none;
    background-color: inherit;
    transform: scaleX(-1);
  }
  .paginationBtn {
    @include body1Font($black75Color);
    padding-top: 0.56vh;
    display: flex;
    width: 2.05%;
    height: 2.15vh;
    border: none;
    background-color: inherit;

    &[disabled] {
      cursor: revert;
      transform: revert;
    }

    &[aria-current] {
      font-weight: bold;
      cursor: revert;
      transform: revert;
    }
  }

  .paginationRtBtn {
    margin-right: 6.54vw;
    width: 2.3%;
    height: 3.9vh;
    border: none;
    background-color: inherit;
  }
}

#centerPaginationNumBtns {
  @include centerItem();
  display: flex;
  width: 82.8vw;
  align-items: flex-start;
  gap: 1.06vw;
  margin-top: 9vh;
  margin-bottom: 10.2vh;
}
