@import "ThemeStyles.scss";

.NoticeAllLayout {
  width: 100%;
  min-height: 91vh;
  padding-top: 2vh;
  padding-bottom: 9vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  .NoticeAllHeadContainer {
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 52px;

    .NoticeAllTitle {
      @include heading2Font($primaryColor);
      width: 365px;
      margin-left: 560px;
    }

    .noticeWriteBtn {
      display: flex;
      width: 32px;
      margin-right: 398px;
      margin-left: 135px;
      margin-top: -18px;
      font-size: 48px;
      color: $primaryColor;
      background-color: inherit;
      border: none;
    }
  }

  .NoticeAllContainer {
    width: 862px;
    height: 887px;
    margin-left: 325px;
    margin-right: 325px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px $black25Color;
    background-color: $white60Color;

    .searchContainer {
      display: flex;
      flex-direction: row;
      width: 192px;
      height: 42px;
      margin-left: 597px;
      margin-bottom: 24px;
      margin-top: 26px;
      border-radius: 8px;
      background: $white100Color;
      box-shadow: 0px 2px 2px 1px $black5Color;

      .searchInput {
        width: 111px;
        height: 22px;
        margin-left: 18px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: inherit;
        @include body1Font($black100Color);
      }
      input::placeholder {
        color: $black50Color;
      }
      .searchIcon {
        width: 17px;
        height: 17px;
        margin-top: 12px;
        margin-left: 18px;
        background-image: url("../assets/SearchAsset.svg");
      }
    }

    .noticesContainer {
      width: 100%;
      justify-content: start;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 28px;
      cursor: pointer;
      @include centerFormat();

      .noticePinCheckbox {
        display: flex;
        width: 636px;
        justify-content: start;
        position: relative;
      }

      .eachNoticeContent {
        display: inline;
        width: 636px;
        height: 60px;
        margin-top: 28px;
        margin-left: 113px;
        margin-right: 113px;
        margin-bottom: 28px;
        flex-direction: row;
        border: none;
        z-index: 2;

        .noticeTitleAndBodyContainer {
          float: left;
          width: 411px;
          height: 60px;
          margin-bottom: 28px;
          .noticeListTitle {
            @include body1Font($black100Color);
            height: 25px;
            margin-bottom: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .noticeListBody {
            @include captionFont($black75Color);
            display: block;
            height: 23px;
            white-space: pre-wrap;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .noticeDateContainer {
          float: right;
          margin-bottom: 28px;
          .noticeListDate {
            @include captionFont($black75Color);
            height: 22px;
            margin-bottom: 10px;
          }
        }
      }

      #NoticeDevice_line {
        width: 716px;
        height: 0.5px;
        margin-left: 100px;
        padding: 0;
        margin: 0;
        text-align: center;
        border: none;
        background-color: $black50Color;
      }
    }
  }
}

.paginationBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.4vh;
  margin-top: 6.78vh;
  margin-bottom: 9.6vh;

  .paginationLtBtn {
    margin-left: 6.6vw;
    width: 2.3%;
    height: 3.9vh;
    border: none;
    background-color: inherit;
    transform: scaleX(-1);
  }
  .paginationBtn {
    @include body1Font($black75Color);
    padding-top: 0.56vh;
    display: flex;
    width: 2.05%;
    height: 2.15vh;
    border: none;
    background-color: inherit;

    &[disabled] {
      cursor: revert;
      transform: revert;
    }

    &[aria-current] {
      font-weight: bold;
      cursor: revert;
      transform: revert;
    }
  }

  .paginationRtBtn {
    margin-right: 7vw;
    width: 2.3%;
    height: 3.9vh;
    border: none;
    background-color: inherit;
  }
}

#centerPaginationNumBtns {
  @include centerFormat();
  display: flex;
  width: 82.8vw;
  align-items: flex-start;
  gap: 1.06vw;
  margin-top: 9vh;
  margin-bottom: 10.2vh;
}
