@import "styles/ThemeStyles.scss";

.OrderConfirmViewBody {
  height: 100%;
  padding-top: 8.37vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  flex-shrink: 0;
  flex-direction: column;

  .AllLayout {
    display: flex;
    flex-direction: row;
    padding-bottom: 7.01vh;
    @include centerFormat();
    .FileLayout {
      width: 32.7%;
      height: 65.6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 0px 0px 10px;
      background: $black25Color;
      margin: 0;
      padding: 0;

      .rpv-core__inner-page {
        display: inline-flex;
        justify-content: end;
        background-color: transparent;
      }

      .rpv-core__inner-container {
        margin: 0;
        padding: 0;
      }

      .core__inner-pages {
        scrollbar-width: 8px;
      }

      div {
        justify-content: center;
        width: 95%;
        height: 95%;
        margin: 0;
        padding: 0;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }

    .InfoLayout {
      width: 24.3%;
      height: 65.6vh;
      display: flex;
      flex-direction: column;

      border-radius: 0px 10px 10px 0px;
      background: $white60Color;
    }

    .categoryAllContent {
      margin-left: 2.6vw;
      padding-right: 2.2vw;
      margin-top: 2.4vh;
      margin-bottom: 2.4vh;

      display: flex;
      flex-direction: column;
    }
    .orderConfirmViewHeader {
      #categoryTitleLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3.39vh;

        #category {
          @include heading2Font($black100Color);
          text-align: left;
        }

        #docId {
          @include body1Font($black100Color);
          text-align: right;
        }
      }
      .categoryAttachment {
        display: flex;
        @include body1Font($primaryColor);
        padding-bottom: 3.39vh;
        text-decoration-line: none;
      }

      .categoryUserInfoLayout {
        display: flex;
        flex-direction: row;
        margin-bottom: 2.15vh;
        .categoryKeyUserInfo {
          width: 70px;
          padding-right: 2.8vw;
          @include subHeading2Font($black100Color);
        }
        .categoryValueUserInfo {
          @include subHeading2Font($black100Color);
        }
      }
    }
    .categoryAll {
      height: 42.76vh;
      overflow-y: scroll;
      .categoryAllLayout {
        display: flex;
        flex-direction: row;
        padding-top: 1.24vh;
        padding-bottom: 2.15vh;
        .categoryKeyText {
          width: 70px;
          padding-right: 2.8vw;
          @include body1Font($black75Color);
        }

        .categoryValueText {
          @include subHeading3Font($black100Color);
        }
      }
    }
  }
  .navigateButtonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.52vh;
    .navigateButton {
      @include heading2Font($white100Color);
      background: $primaryColor;
      display: flex;
      width: 210px;
      height: 60px;
      padding: 10px;
      justify-content: center;

      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border: 0;
      border-radius: 8px;
    }
  }
}
