@import "styles/ThemeStyles.scss";

@mixin orderFormat {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.OrderConfirmListBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  @include centerFormat();
  text-align: center;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  #OrderConfirmList_title {
    padding-top: 6vh;
    padding-bottom: 6vh;
    @include heading2Font($primaryColor);
  }

  .OrderConfirmListContainer {
    width: 75vw;
    padding: 5.7vh 6.6vw 5.7vh;
    border-radius: 10px;
    box-shadow: $box-shadow;
    background-color: $white60Color;

    .headers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding-bottom: 20px;

      .header_text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        th {
          width: 120px;
          @include heading3Font($black100Color);
        }
      }
    }

    #headers_line {
      width: 100%;
      height: 1px;
      padding: 0;
      margin: 0;
      text-align: center;
      border: none;
      background-color: $black100Color;
    }

    .OrderConfirmView_Container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
      @include body1Font($black100Color);
      cursor: pointer;

      .delete-order-style {
        display: inline-flex;
        color: $black25Color !important;
        text-decoration: line-through;
      }

      .delete-order-state-style {
        display: inline-flex;
        color: $errorColor;
        text-decoration: none;
      }

      .finish-order-state-style {
        display: inline-flex;
        color: $primaryColor;
      }
      .progress-order-state-style {
        display: inline-flex;
        color: $black50Color;
      }

      #order_attachemnt {
        width: 50px;
        height: 72px;
        padding-right: 3%;
        embed {
          width: 40px;
          height: 72px;
          border: none;
        }
      }

      #order_text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        #order_info {
          @include orderFormat();
          align-items: flex-start;
          text-align: start;
          gap: 2px;

          #info_category {
            @include body2Font($black50Color);
          }
          #info_title {
            @include body1Font($black100Color);
          }
          #info_order_num {
            @include body1Font($black50Color);
          }
        }

        #order_date {
          @include orderFormat();
        }

        #order_collect_date {
          @include orderFormat();
        }

        #order_money {
          @include orderFormat();
        }

        #order_state {
          @include orderFormat();
        }
      }

      #order_edit {
        display: flex;
        flex-direction: column;
        @include centerFormat();
        vertical-align: middle;
        width: 25px;
      }

      #order_cancel {
        display: flex;
        flex-direction: column;
        width: 25px;
        @include centerFormat();
        @include captionFont($errorColor);
        line-height: 14.5px;
      }
    }

    #OrderConfirmView_line {
      width: 100%;
      height: 0.5px;
      padding: 0;
      margin: 0;
      text-align: center;
      border: none;
      background-color: $black50Color;
    }

    #order_state_select {
      display: flex;
      @include body1Font($black50Color);
      width: 65%;
      margin-left: 27%;
      background: none;
      border: none;
    }
    #order_complete_date_input {
      @include body1Font($black50Color);
    }
    #order_total_money_input {
      @include body1Font($black100Color);
      background: none;
      border: none;
      text-align: center;
    }
  }

  #OrderConfirmListFooter {
    width: 75vw;
    padding-top: 10.2vh;
    padding-bottom: 11.8vh;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      border: none;
      background-color: transparent;
    }

    .paginationButton {
      display: inline-flex;
      justify-content: center;

      button {
        padding: 0px 16px;
        @include body1Font($black75Color);
      }

      button[aria-current="nowPage"] {
        @include subHeading1Font($black100Color);
      }
    }

    #arrowLeftButton {
    }

    #arrowRightButton {
    }
  }
}
