@import "ThemeStyles.scss";

.frontCardText {
  margin: 42px;
  @include heading2Font($black100Color);
  text-align: center;
}

.backCardText {
  margin: 42px;
  @include body1Font($black100Color);
  text-align: center;
}

.OrderCategoryPageLayout {
  width: 100%;
  min-height: 79.7vh;
  padding-top: 2vh;
  padding-bottom: 9vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  .cardLayout {
    margin-left: 373px;
    margin-top: 174px;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 15.675vw 15.675vw 15.675vw;
    grid-template-rows: 26.81vh 26.81vh;
    grid-column-gap: 1.85vw;
    grid-row-gap: 3.16vh;
    backface-visibility: hidden;

    .categoryCard {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 10px;
      background: var(--white-60, $white60Color);
      box-shadow: $box-shadow;

      .categoryTitle {
        @include centerFormat();
        height: 22px;
        margin-top: 47px;
        text-align: center;
        @include heading2Font($black100Color);
      }
    }

    .afterHoverBox {
      display: none;
      @include centerFormat();

      .explain {
        width: 172px;
        height: 130px;
        margin-top: 20px;
        text-align: center;
        @include body1Font($black75Color);
      }
    }

    .categoryCard:hover {
      background-image: url(../assets/BackgroundAsset.svg);
    }

    .categoryCard:hover .afterHoverBox {
      display: flex;
    }
  }
}
