@import "ThemeStyles.scss";

:root {
  --rpv-core__page-layer-box-shadow: 0px 0px 0px 0 $transparentColor;
}
.PageBackground {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.OrderPageBackground {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 69px);

  .OrderLayout {
    display: grid;
    width: 100%;
    min-height: 702px;
    padding-top: 74px;
    justify-content: center;
  }
}

.OrderWholeContainer {
  width: 883px;
  height: 580px;
  border-radius: 10px;
  background-color: $white60Color;
  display: block;
  @include centerFormat();

  .OrderContainer-left {
    float: left;
    height: 580px;
    width: 524px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $black25Color;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    overflow-y: auto;

    .pageNumberContainer {
      @include subHeading3Font($white100Color);
      width: 62px;
      height: 25px;
      @include centerFormat();
      border: none;
      border-radius: 16px;
      display: flex;
      position: sticky;
      margin-left: 430px;
      margin-bottom: 58vh;
      background: $black10Color;
      top: 202px;
    }

    .FileCancelButton {
      position: absolute;
      margin-top: 24px;
      margin-left: 24px;
      margin-bottom: 542px;
      padding-right: 486px;
      border: none;
      background-color: transparent;
    }

    .FileUploadButton {
      color: transparent;
    }

    .FileUploadButton::-webkit-file-upload-button {
      @include body1Font($numberColor);
      width: 524px;
      height: 580px;
      border: none;
      background-color: transparent;
      position: absolute;
      z-index: 2;

      cursor: pointer;
      color: transparent;
      margin-left: -112px;
      margin-top: -42px;
    }

    .fileLabel {
      position: absolute;
      border-radius: 8px;
      border: 1px solid;
      margin-left: 17.86vw;
      margin-top: 33.9vh;
      cursor: pointer;
    }
    overflow: hidden;
    .FileChooseContainer {
      display: flex;
      width: 524px;
      height: 580px;
      flex-direction: column;
      @include centerFormat();
      margin-left: -112px;
      margin-top: -42px;

      .FileUploadBtnContainer {
        display: flex;
        width: 120px;
        height: 42px;
        flex-direction: row;
        border-radius: 8px;
        border: 1px solid;
        @include centerFormat();
        margin-bottom: 27px;

        .FileChoose {
          @include body1Font($black100Color);
          margin-left: 14px;
          margin-right: 10px;
        }
        .FileAsset {
          @include centerFormat();
          display: flex;
          width: 22px;
          height: 25px;
          background-image: url("../assets/FileUploadAsset.svg");
          background-repeat: no-repeat;
        }
      }
      .FileUploadExplanation {
        @include body2Font($black50Color);

        text-align: center;
        justify-content: center;
      }
    }
  }

  .drag {
    margin-top: 3.05vh;
    display: block;
    text-align: center;
    @include body2Font($black50Color);
    width: 8.8vw;
    height: 5vh;
  }

  .imgFileContainer {
    width: 25vw;
    height: 40vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $white100Color;
  }

  .pdfFileContainer {
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .rpv-core__viewer {
    width: 350px;
    height: 446px;
  }

  .rpv-core__inner-page-container {
    width: 340px;
    height: 10px;
    position: relative;
    background-color: transparent;
  }

  .rpv-core__inner-page {
    width: 300px;
    height: 500px;
    padding: none;
    margin: none;
    background-color: transparent;
    background: none;

    .rpv-core_-canvas-layer {
      width: 400px;
      background-color: transparent;
    }
    .rpv-core__text-layer {
      width: 380px;
    }
  }

  .rpv-core__inner-pages.rpv-core__inner-pages--vertical {
    overflow-x: hidden;
    align-items: center;
    width: 429px;
    margin-left: 27px;
  }

  .rpv-core__inner-pages.rpv-core__inner-pages--vertical::-webkit-scrollbar {
    width: 8px;
  }

  .rpv-core__inner-pages.rpv-core__inner-pages--vertical::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .rpv-core__inner-pages.rpv-core__inner-pages--vertical::-webkit-scrollbar-thumb {
    height: 129px;
    background: $black25Color;
    border-radius: 10px;
  }

  .OrderContainer-right {
    float: right;
    width: 359px;
    height: 580px;
    background: $white20Color;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding-right: 40px;
    .categoryHeader {
      width: 301px;
      height: 22px;
      margin-left: 2vw;
      margin-top: 3.4vh;
      margin-right: 1.85vw;
      margin-bottom: 4.5vh;
      @include heading2Font($black100Color);
    }
    .categorySelectBodyContainer {
      width: 355px;
      height: 450px;
      overflow-x: hidden;
      .categorySelect {
        width: 18vw;
        height: 56.56vh;
        margin-left: 2vw;
        margin-right: 1.85vw;

        input[type="text"] {
          width: 156px;
          height: 22px;
          display: flex;
          padding: 10px 18px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          border: none;
          box-shadow: $orderBoxShadow;
          float: right;
          margin-top: -10px;
          font-family: "Pretendard Variable";
        }

        input[type="text"]:focus {
          outline: none;
        }

        input::placeholder {
          padding-left: 0.16vw;
          @include captionFont($black50Color);
        }

        .select_label {
          @include body1Font($black100Color);
          align-items: center;
          height: 20px;

          .QuestionMarkImg {
            margin-left: 5px;
            margin-top: 5px;
            height: 12px;
            width: 16px;
            cursor: pointer;
          }
        }

        select {
          height: 42px;
          width: 192px;
          border-radius: 8px;
          box-shadow: $orderBoxShadow;
          padding: 10px 18px;
          border: none;
          margin-top: -10px;
          float: right;
          appearance: none;
          -webkit-appearance: none;
          background-color: $white100Color;
          background-image: url("../assets/arrow-down.svg");
          background-repeat: no-repeat;
          background-position: 95% center;
        }

        select::-ms-expand {
          display: none;
        }

        select:focus {
          outline: none;
        }

        details {
          border-top: solid 1px;
          border-color: $black50Color;
          border-left: none;
          border-right: none;
          border-bottom: solid 1px;
          border-color: $black50Color;
          width: 289px;
        }

        summary {
          margin-top: 15px;
          margin-bottom: 14px;
          height: auto;
          position: relative;
          cursor: pointer;
        }

        summary::marker {
          content: none;
        }

        summary::after {
          content: url("../assets/arrow-down.svg");
          height: 0;
          padding-right: 7px;
          position: absolute;
          top: calc(21% - 1px);
          right: 0;
          transform: translateY(-50%);
        }

        summary::after {
          transform: rotate(0deg);
          padding-left: 7px;
          transform-origin: 50% 50%;
          height: 10px;
          transition: 300ms;
        }

        [open] summary::after {
          transform: rotate(180deg);
        }

        textarea {
          display: flex;
          width: 156px;
          height: 99px;
          overflow-y: hidden;
          padding: 10px 18px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          resize: none;
          border: none;
          border-radius: 8px;
          box-shadow: $orderBoxShadow;
          float: right;
          padding: 10px 15px;
          font-family: "Pretendard Variable";
          line-height: 22px;
          margin-bottom: 3px;
        }

        textarea::placeholder {
          @include captionFont($black50Color);
          padding-left: 2px;
        }

        textarea:focus {
          outline: none;
        }

        span {
          width: 290px;
          height: 42px;
          display: block;
          margin-top: 1.56vh;
          margin-bottom: 1.56vh;
          align-items: center;
        }

        .moreInfoContainer {
          width: 290px;
          display: inline-block;
          padding-bottom: 10px;
        }
        .moreInfoContainerForEtc {
          width: 290px;

          display: inline-block;
        }
      }
    }

    .categorySelectBodyContainer::-webkit-scrollbar {
      background: transparent;
      width: 8px;
    }

    .categorySelectBodyContainer::-webkit-scrollbar-track {
      background: transparent;
    }

    .categorySelectBodyContainer::-webkit-scrollbar-thumb {
      background: $black25Color;
      border-radius: 10px;
      height: 0.1vh;
    }
  }

  form {
    width: 15.87vw;
    height: 56.45vh;
    margin-left: 2vw;
    @include body1Font($black100Color);
  }
}

.buttons {
  display: flex;
  width: 100%;
  height: 60px;
  padding-top: 40px;
  @include centerFormat();
  .OrderCancelBtn {
    @include heading2Font($black100Color);
    width: 210px;
    height: 60px;
    padding: 10px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
  }

  .OrderCancelBtn:hover {
    background-color: $hoverAndClickColorWhite;
    transition: 0.5s;
  }

  .OrderSaveBtn {
    width: 210px;
    height: 60px;
    padding: 10px;
    background-color: $primaryColor;
    border: none;
    border-radius: 8px;
    @include heading2Font($white100Color);
    cursor: pointer;
  }
}
.OrderConfirmPopUp {
  display: flex;
  width: 100%;
  min-height: 91vh;
  flex-shrink: 0;
  position: fixed;
  background-color: $white60Color;
  backdrop-filter: blur(2px);
  padding-top: 19.23vh;
  padding-left: 35.98%;
  z-index: 3;

  .OrderConfirmPopUpContainer {
    width: 424px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: $box-shadow;

    .popUpBlueText {
      @include heading2Font($primaryColor);
      margin-top: 89px;
      text-align: center;
      width: 230px;
      margin-left: 100px;
    }
    .popUpBlackText {
      @include subHeading2Font($black75Color);
      margin-top: 21px;
      text-align: center;
    }
    .OrderConfirmPopUpButton {
      display: flex;
      width: 296.8px;
      height: 55px;
      justify-content: center;
      align-items: center;
      gap: 18.55px;
      flex-shrink: 0;
      margin-top: 72px;
      margin-left: 64px;
      .popUpHome {
        @include subHeading2Font($secondaryColor);
        display: flex;
        width: 139.125px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid $secondaryColor;
        background: $white100Color;
        cursor: pointer;
      }
      .popUpCancel:hover {
        background: $hoverAndClickColorWhite;
      }
      .popUpOrderList {
        @include subHeading2Font($white100Color);
        display: flex;
        width: 139.125px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background: $primaryColor;
        border: 1px solid $primaryColor;
        border-radius: 8px;
        cursor: pointer;
      }
      .popUpOrderList:hover {
        background: $hoverAndClickColor;
      }
    }
  }
}
