@import "ThemeStyles.scss";

.OrderLayout {
  width: 100%;
  min-height: 91vh;
  padding-top: 2vh;
  padding-bottom: 9vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1;
}

.OrderWholeContainer {
  width: 58.4vw;
  height: 65.6vh;
  margin-top: -11.3vh;
  border-radius: 10px;
  background-color: $white100Color;
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;

  .OrderContainer-left {
    float: left;
    height: 65.6vh;
    width: 59%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $black25Color;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: inline-flex;

    .FileUploadButton {
      @include body1Font($primaryColor);
      padding: 10px 14px;
      position: relative;
      z-index: 1;
    }

    .FileUploadButton::-webkit-file-upload-button {
      @include body1Font($numberColor);
      width: 50vw;
      height: 40.75vh;
      // margin-left: 12.56vw;
      // margin-right: 13.4vw;
      border-radius: 8px;
      border: 1px solid;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      z-index: 1;
      color: transparent;
    }

    .fileLabel{

      position: absolute;
      border-radius: 8px;
      border: 1px solid;
      margin-left: 270px;
      margin-top: 300px;
      cursor: pointer;
    }

    .FileUploadExplanation {
      @include body1Font($black50Color);
      display: flex;
      text-align: center;
      justify-content: center;
      margin-left: 11.24vw;
      margin-top: 0px;
      margin-bottom: 320px;
      position: absolute;
      z-index: 4;
      width: 200px;
      height: 50px;
    }

    .drag {
      margin-top: 3.05vh;
      display: block;
      text-align: center;
      @include body2Font($black50Color);
      width: 8.8vw;
      height: 5vh;
    }

    .FileCancelButton {
      width: 3.3vw;
      height: 5.65vh;
      margin-top: 4.5vh;
      margin-bottom: 61.3vh;
      margin-left: -7.27vw;
      margin-right: 3vw;
      border: none;
      background-color: transparent;
    }

    .rpv-core__viewer{

      width: 500px;
      height: 500px;
    }
    .rpv-core__inner-container{
      width: 340px;
      height: 600px;
      margin : 0;
      padding: 0;
    }
  }

  .OrderContainer-right {
    float: right;
    width: 23.74vw;
    height: 65.6vh;
    background: $white60Color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;

    .categoryHeader {
      width: 18vw;
      height: 2.49vh;
      margin-left: 2vw;
      margin-top: 3.4vh;
      margin-right: 1.85vw;
      margin-bottom: 4.5vh;
      @include heading2Font($black100Color);
    }
    .categorySelectBodyContainer {
      overflow-y: scroll;
      .categorySelect {
        width: 18vw;
        height: 56.56vh;
        margin-left: 2vw;
        margin-right: 1.85vw;

        fieldset {
          border-color: $black50Color;
          padding: 0;
          border: none;
          width: 290px;
        }

        input[type="text"] {
          height: 4.75vh;
          width: 12.7vw;
          border-radius: 8px;
          border: none;
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
          float: right;
        }

        input::placeholder {
          padding-left: 0.66vw;
          @include captionFont($black50Color);
        }

        select {
          height: 4.75vh;
          width: 12.7vw;
          border-radius: 8px;
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
          padding: 10px 18px;
          border: none;
          float: right;
        }
        details {
          border-top: solid 1px;
          border-color: rgba(33, 36, 39, 0.5);
          border-left: none;
          border-right: none;
          border-bottom: solid 1px;
          border-color: rgba(33, 36, 39, 0.5);
        }
        summary {
          
          margin-top: 1.58vh;
          margin-bottom: 1.58vh;
          height: 2.49vh;
        }

        textarea {
          height: 11.2vh;
          width: 12.7vw;
          resize: none;
          border: none;
          border-radius: 8px;
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
          float: right;
        }

        textarea::placeholder {
          padding-left: 0.66vw;
          @include captionFont($black50Color);
        }

        span {
          width: 19.18vw;
          height: 4.75vh;
          display: block;
          margin-top: 1.56vh;
          margin-bottom: 1.56vh;
        }

        .moreInfoContainer {
          width: 19.18vw;
          height: 11.2vh;
          display: inline-block;
          padding-bottom: 1.58vh;
        }
        .moreInfoContainerForEtc {
          width: 19.18vw;
          height: 26vh;
          display: inline-block;
          padding-bottom: 1.58vh;
        }
        textarea {
          width: 12.7vw;
          height: 26vh;
        }
      }
    }
  }

  form {
    width: 15.87vw;
    height: 56.45vh;
    margin-left: 2vw;
    @include body1Font($black100Color);
  }
}

#buttons {
  display: inline;
  gap: 1.3vw;

  .OrderCancelBtn {
    @include heading2Font($black100Color);
    width: 13.8vw;
    height: 6.78vh;
    margin-top: 2.26vh;
    margin-left: 14vw;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
  }
  .OrderCancelBtn:hover {
    background-color: $black25Color;
    transition: 0.5s;
  }

  .OrderSaveBtn {
    width: 13.8vw;
    height: 6.78vh;
    margin-top: 4.5vh;
    margin-left: 1.3vw;
    background-color: $primaryColor;
    border: none;
    border-radius: 8px;
    @include heading2Font($white100Color);
    cursor: pointer;
  }
  .OrderSaveBtn:hover {
    background-color: $hoverAndClickColor;
    transition: 0.5s;
  }
}
.OrderConfirmPopUp {
  display: flex;
  width: 100%;
  min-height: 91vh;
  flex-shrink: 0;
  position: fixed;
  background-color: $white60Color;
  backdrop-filter: blur(2px);
  padding-top: 19.23vh;
  padding-left: 35.98%;
  z-index: 3;

  .OrderConfirmPopUpContainer {
    width: 424px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    .popUpBlueText {
      @include heading2Font($primaryColor);
      margin-top: 89px;
      text-align: center;
      width: 230px;
      margin-left: 100px;
    }
    .popUpBlackText {
      @include subHeading2Font($black75Color);
      margin-top: 21px;
      text-align: center;
    }
    .OrderConfirmPopUpButton {
      display: flex;
      width: 296.8px;
      height: 55px;
      justify-content: center;
      align-items: center;
      gap: 18.55px;
      flex-shrink: 0;
      margin-top: 72px;
      margin-left: 64px;
      .popUpHome {
        @include subHeading2Font($secondaryColor);
        display: flex;
        width: 139.125px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid $secondaryColor;
        background: $white100Color;
        cursor: pointer;
      }
      .popUpCancel:hover {
        background: $black10Color;
      }
      .popUpOrderList {
        @include subHeading2Font($white100Color);
        display: flex;
        width: 139.125px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background: $primaryColor;
        border: 1px solid $primaryColor;
        border-radius: 8px;
        cursor: pointer;
      }
      .popUpOrderList:hover {
        background: $hoverAndClickColor;
      }
    }
  }
}
