@import "ThemeStyles.scss";

.OrderLayout {
  width: 100%;
  min-height: 91vh;
  padding-top: 2vh;
  padding-bottom: 9vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.OrderWholeContainer {
  height: 580px;
  width: 58.4vw;
  border-radius: 10px;
  background-color: $white100Color;
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;

  .OrderContainer-left {
    float: left;
    height: 580px;
    width: 59%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $black25Color;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: inline-flex;

    .FileUploadButton {
      @include body1Font($primaryColor);
      padding: 10px 14px;
    }

    .FileUploadButton::-webkit-file-upload-button {
      @include body1Font($numberColor);
      width: 120px;
      height: 42px;
      margin-left: 190px;
      margin-right: 202px;
      border-radius: 8px;
      border: 1px solid;
      background-color: transparent;
      cursor: pointer;
    }

    .FileUploadExplanation {
      @include body1Font($black50Color);
      display: flex;
      text-align: center;
      justify-content: center;
      margin-left: 170px;
    }

    .drag {
      margin-top: 27px;
      display: block;
      text-align: center;
      @include body2Font($black50Color);
      width: 133px;
      height: 44px;
    }

    .FileCancelButton {
      width: 50px;
      height: 50px;
      margin-top: 40px;
      margin-bottom: 542px;
      margin-left: -110px;
      margin-right: 44px;
      border: none;
      background-color: transparent;
    }
  }

  .OrderContainer-right {
    float: right;
    width: 359px;
    height: 580px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;

    .categoryHeader {
      width: 272px;
      height: 22px;
      margin-left: 30px;
      margin-top: 30px;
      margin-right: 28px;
      margin-bottom: 40px;
      @include heading2Font($black100Color);
    }
    .categorySelectBodyContainer {
      overflow-y: scroll;
      .categorySelect {
        width: 272px;
        height: 500px;
        margin-left: 30px;
        margin-right: 28px;

        fieldset {
          border-color: $black50Color;
          padding: 0;
          border: none;
          width: 290px;
        }

        input[type="text"] {
          height: 42px;
          width: 192px;
          border-radius: 8px;
          border: none;
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
          float: right;
        }

        input::placeholder {
          padding-left: 10px;
          @include captionFont($black50Color);
        }

        select {
          height: 42px;
          width: 192px;
          border-radius: 8px;
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
          padding: 10px 18px;
          border: none;
          float: right;
        }
        details {
          border-top: solid 1px;
          border-color: rgba(33, 36, 39, 0.5);
          border-left: none;
          border-right: none;
          border-bottom: solid 1px;
          border-color: rgba(33, 36, 39, 0.5);
        }
        summary {
          margin-top: 14px;
          margin-bottom: 14px;
          height: 22px;
        }

        textarea {
          height: 99px;
          width: 192px;
          resize: none;
          border: none;
          border-radius: 8px;
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
          float: right;
        }

        textarea::placeholder {
          padding-left: 10px;
          @include captionFont($black50Color);
        }

        span {
          width: 290px;
          display: block;
          margin-top: 14px;
          margin-bottom: 14px;
          height: 42px;
        }

        .moreInfoContainer {
          height: 99px;
          width: 290px;
          display: inline-block;
          padding-bottom: 14px;
        }
      }
    }
  }

  form {
    width: 240px;
    height: 499px;
    margin-left: 29px;
    @include body1Font($black100Color);
  }
}

#buttons {
  display: inline;
  gap: 20px;

  .OrderCancelBtn {
    @include heading2Font($black100Color);
    width: 13.8vw;
    height: 60px;
    margin-top: 20px;
    margin-left: 211px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
  }
  .OrderCancelBtn:hover {
    background-color: $black25Color;
    transition: 0.5s;
  }

  .OrderSaveBtn {
    width: 13.8vw;
    height: 60px;
    margin-top: 4.5vh;
    margin-left: 20px;
    background-color: $primaryColor;
    border: none;
    border-radius: 8px;
    @include heading2Font($white100Color);
    cursor: pointer;
  }
  .OrderSaveBtn:hover {
    background-color: $hoverAndClickColor;
    transition: 0.5s;
  }
}
