@import "ThemeStyles.scss";

.PaperInfoLayout {
  width: 100%;
  min-height: 91vh;
  padding-top: 2vh;
  padding-bottom: 9vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  .paperHead {
    .PaperTitle {
      @include heading1Font($primaryColor);
      width: 63px;
      height: 43px;
      margin-top: 163px;
      margin-left: 213px;
    }
    .PaperExplanation {
      @include heading3Font($black100Color);
      width: 227px;
      height: 44px;
      margin-top: 55px;
      margin-left: 213px;
      line-height: 25px;
    }
  }

  .PaperInfoContainer {
    width: 780px;
    height: 1048px;
    margin-top: 163px;
    margin-left: 182px;
    background-color: transparent;

    display: grid;
    grid-template-columns: 370px 370px;
    grid-template-rows: 232px 232px 232px 232px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    backface-visibility: hidden;

    .paperCard {
      background-image: url("../assets/PaperAsset.svg");
      box-shadow: 0px 4px 10px 0px $black25Color;
      border-radius: 10px;
      padding: 50px 40px 50px 50px;
      align-items: flex-start;
      cursor: pointer;

      .contentBox {
        width: 95px;
        height: 68px;
        display: flex;
        flex-direction: row;

        .beforeHoverContentBox {
          margin-right: 18px;
          .title {
            width: 104px;
            @include heading2Font($black100Color);
            margin-bottom: 24px;
          }

          .maxSize {
            width: 60px;
            @include captionFont($black75Color);
          }
        }
      }

      .afterHoverContentBox {
        display: none;
        width: 172px;
        height: 92px;

        .paperWeight {
          width: 140px;
          margin-bottom: 24px;
          @include body1Font($black100Color);
        }

        .paperExplain {
          width: 142px;
          height: 50px;
          @include body1Font($black75Color);
        }
      }
    }

    .paperCard:hover {
      background: $white60Color;
    }

    .paperCard:hover .afterHoverContentBox {
      display: flex;
      flex-direction: column;
    }
  }
}
