@import "ThemeStyles.scss";
.popUpWidgets {
  display: flex;
  width: 100%;
  min-height: 91vh;
  flex-shrink: 0;
  position: fixed;
  backdrop-filter: blur(2px);
  padding-top: 19.23vh;
  padding-left: 35.98%;

  .popUpContainerWidgets {
    width: 424px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    .popUpHeaderTextWidgets {
      @include heading2Font($errorColor);
      margin-top: 72px;
      text-align: center;
      width: 185px;
      height: 44px;
      margin-left: 120px;
    }
    .popUpBodyTextWidgets {
      @include subHeading2Font($black75Color);
      margin-top: 21px;
      text-align: center;
      height: 38px;
    }
    .popUpButtonWidgets {
      display: flex;
      width: 296.8px;
      height: 55px;
      justify-content: center;
      align-items: center;
      gap: 18.55px;
      flex-shrink: 0;
      margin-top: 77px;
      margin-left: 64px;
      .popUpLeftButtonWidgets {
        @include subHeading2Font($secondaryColor);
        display: flex;
        width: 139.125px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid $secondaryColor;
        background: $white100Color;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      .popUpLeftButtonWidgets:hover {
        background: $black10Color;
      }
      .popUpRightButtonWidgets {
        @include subHeading2Font($white100Color);
        display: flex;
        width: 139.125px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      .popUpRightButtonWidgets:hover {
        background: rgb(139, 58, 58);
      }
    }
  }
}
