@import "ThemeStyles.scss";
.popUpWithOneButtonsWidgets {
  display: flex;
  width: 100%;
  min-height: 91vh;
  flex-shrink: 0;
  position: fixed;
  background: $white20Color;
  backdrop-filter: blur(2px);
  @include centerFormat();

  .popUpWithOneButtonsContainerWidgets {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 424px;
    height: 360px;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: 0px 4px 10px 0px $black25Color;

    .popUpWithOneButtonsHeaderTextWidgets {
      @include heading4Font($errorColor);
      width: 240px;
      text-align: center;
    }
    .popUpWithOneButtonsBodyTextWidgets {
      @include body2Font($black75Color);
      text-align: center;
      white-space: pre-wrap;
      width: 182px;
    }
    .popUpWithOneButtonsBtnWidgets {
      width: 139.125px;
      height: 55px;
      border-radius: 8px;
      border: 1px solid $secondaryColor;
      @include button1Font($secondaryColor);
      background: transparent;
      cursor: pointer;
    }
  }
}
