@import "ThemeStyles.scss";
.popUpWithOneButtonsWidgets {
  display: flex;
  width: 100%;
  min-height: 91vh;
  flex-shrink: 0;
  position: fixed;
  padding-top: 19.23vh;
  padding-left: 35.98%;
  background: $white20Color;
  backdrop-filter: blur(2px);

  .popUpWithOneButtonsContainerWidgets {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 424px;
    height: 360px;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: 0px 4px 10px 0px $black25Color;

    .popUpWithOneButtonsHeaderTextWidgets {
      @include heading4Font($primaryColor);
      width: 240px;
      text-align: center;
      word-break: break-all;
    }

    .popUpWithOneButtonsBtnWidgets {
      width: 139.125px;
      height: 55px;
      border-radius: 8px;
      border: 1px solid $secondaryColor;
      @include button1Font($secondaryColor);
      background: transparent;
      cursor: pointer;
    }
  }
}
