@import "ThemeStyles.scss";
.PopUpWithGifWidgets {
  display: flex;
  width: 100%;
  min-height: 91vh;
  flex-shrink: 0;
  position: fixed;
  backdrop-filter: blur(2px);
  @include centerFormat();

  .PopUpWithGifWidgetsContainer {
    width: 540px;
    height: 526px;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: $box-shadow;
    @include centerFormat();
    .PopUpWithGifWidgetsHeading {
      margin-top: 54px;
      margin-left: 159.5px;
      @include heading4Font($errorColor);
    }
    .PopUpWithGifWidgetsGifContainer {
      width: 328px;
      height: 231px;
    }
    .PopUpWithGifWidgetsBody {
      width: 200px;
      margin-left: 170px;
      text-align: center;
      @include body2Font($black75Color);
      margin-bottom: 46px;
    }
    .PopUpWithGifWidgetsButton {
      @include heading2Font($secondaryColor);
      display: flex;
      width: 372px;
      height: 60px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: none;
      margin-left: 84px;
      border-radius: 10px;
      border: 1px solid $secondaryColor;
    }
    .PopUpWithGifWidgetsButton:hover {
      background: $hoverAndClickWhiteColor;
    }
  }
}
