@import "ThemeStyles.scss";

.popUpWithOneButtonsWidgets {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 69px);
  flex-shrink: 0;
  position: fixed;
  background: $white20Color;
  backdrop-filter: blur(2px);
  @include centerFormat();

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 424px;
    height: 360px;
    border-radius: 10px;
    background: $white100Color;
    box-shadow: $box-shadow;

    .header-text-primary {
      @include heading4Font($primaryColor);
      width: 240px;
      text-align: center;
    }

    .header-text-not-primary {
      @include heading4Font($errorColor);
      width: 240px;
      text-align: center;
    }

    .body-text {
      @include body2Font($black75Color);
      text-align: center;
      white-space: pre-wrap;
      width: 190px;
    }

    .button-primay {
      width: 139.125px;
      height: 55px;
      border-radius: 8px;
      border: none;
      @include button1Font($white100Color);
      background: $primaryColor;
      cursor: pointer;
    }

    .button-primay:hover {
      background: $hoverAndClickPrimaryColor;
    }

    .button-not-primay {
      width: 139.125px;
      height: 55px;
      border-radius: 8px;
      border: 1px solid $secondaryColor;
      @include button1Font($secondaryColor);
      background: transparent;
      cursor: pointer;
    }

    .button-not-primay:hover {
      background: $hoverAndClickWhiteColor;
    }
  }
}
