@import "styles/ThemeStyles.scss";

.SignIn {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 6vh;
  padding-bottom: 6vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  .SignInContainer {
    display: flex;
    flex-direction: column;
    @include centerFormat();
    width: 35.7vw;
    height: 680px;
    background-color: $white60Color;
    border-radius: 10px;
    box-shadow: $box-shadow;
    form {
      display: flex;
      flex-direction: column;

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px transparent inset;
        -webkit-text-fill-color: $black100Color;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }

      .InputWithLabel {
        height: 54px;
        padding-bottom: 24px;
      }

      .InputWithoutLabel {
        height: 32px;
        padding-bottom: 46px;
      }

      input {
        display: block;
        width: 24.6vw;
        height: 32px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $black50Color;
        background-color: transparent;
        @include body1Font($black100Color);
      }

      input::placeholder {
        opacity: 1;
        @include body1Font($black50Color);
      }

      input:focus {
        outline: none;
        border-bottom: 1px solid $black100Color;
      }

      input:focus::placeholder {
        color: transparent;
      }

      label {
        display: flex;
        @include captionFont($black50Color);
      }

      .password-input {
        display: inline-flex;
        input {
          width: 22.6vw;
          border: none;
        }

        .password-asset {
          display: flex;
          justify-content: center;
          height: 32px;
          cursor: pointer;
        }
      }

      .password-hr {
        display: flex;
        margin: 0;
        padding: 0;
        height: 0.5px;
        background: $black50Color;
        border: none;
      }

      .checkbox-asset {
        display: inline-flex;
        justify-content: space-between;

        .asset {
          cursor: pointer;
        }

        .checkbox-label {
          display: inline-flex;
          vertical-align: middle;
          width: 240px;
          height: 22px;
          @include body1Font($black50Color);

          input[type="checkbox"] + label {
            display: inline-flex;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: 0;
            margin-right: 12px;
            border-radius: 2px;
            border: 1px solid $black50Color;
            background-image: url("../assets/icons/CheckboxIconAsset.svg");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
          }

          input[type="checkbox"]:checked + label {
            display: inline-flex;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: 0;
            margin-right: 12px;
            border-radius: 2px;
            border: 1px solid $primaryColor;
            background-color: $primaryColor;
            background-image: url("../assets/icons/CheckFillboxIconAsset.svg");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
          }

          input[type="checkbox"] {
            display: none;
          }
        }
      }

      #SubmitButton {
        width: 24.5vw;
        height: 60px;
        margin-top: 31px;
        @include heading2Font($white100Color);
        border: none;
        border-radius: 10px;
        background: $primaryColor;
        cursor: pointer;
      }
    }
  }
}
