@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css);

$primaryColor: rgba(90, 145, 255, 1);
$primaryVariantColor: rgba(97, 165, 226, 1);
$secondaryColor: rgba(15, 43, 84, 1);
$gradiantColor: linear-gradient(144deg, #0f2b54 0%, #5a91ff 100%, #61a5e2 100%);
$black100Color: rgba(33, 36, 39, 1);
$black75Color: rgba(33, 36, 39, 0.75);
$black50Color: rgba(33, 36, 39, 0.5);
$black25Color: rgba(33, 36, 39, 0.25);
$black10Color: rgba(33, 36, 39, 0.1);
$black5Color: rgba(33, 36, 39, 0.05);
$white60Color: rgba(255, 255, 255, 0.6);
$white20Color: rgba(255, 255, 255, 0.2);
$white100Color: rgba(255, 255, 255, 1);
$errorColor: rgba(221, 82, 87, 1);
$numberColor: rgba(53, 60, 73, 1);
$hoverAndClickColor: rgba(77, 125, 220, 1);
$footerColor: rgba(246, 249, 253, 1);

@mixin displayFont($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 48px;
  font-weight: 800;
  line-height: 1.35;
  letter-spacing: 7%;
}

@mixin heading1Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0%;
}

@mixin heading2Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 600;
  line-height: 0.92;
  letter-spacing: 0%;
}

@mixin heading3Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 500;
  line-height: 0.82;
  letter-spacing: 0%;
}

@mixin heading4Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0%;
}

@mixin subHeading1Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 800;
  line-height: 1.375;
  letter-spacing: 0%;
}

@mixin subHeading2Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0%;
}

@mixin subHeading3Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
}

@mixin body1Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0%;
}

@mixin body2Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: 0%;
}

@mixin button1Font($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0%;
}

@mixin captionFont($color) {
  color: $color;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  letter-spacing: 0%;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin centerFormat() {
  justify-content: center;
  align-items: center;
}
