$primary: rgba(90, 145, 255, 1);
$primaryVariant: rgba(97, 165, 226, 1);
$secondary: rgba(15, 43, 84, 1);
$gradiant: linear-gradient(144deg, #0F2B54 0%, #5A91FF 100%, #61A5E2 100%);
$black100: rgba(33, 36, 39, 1);
$black75: rgba(33, 36, 39, 0.75);
$black50: rgba(33, 36, 39, 0.5);
$black25: rgba(33, 36, 39, 0.25);
$black10: rgba(33, 36, 39, 0.1);
$black5: rgba(33, 36, 39, 0.05);
$white100: rgba(255, 255, 255, 1);
$error: rgba(221, 82, 87, 1);
$number: rgba(53, 60, 73, 1);