@import "styles/ThemeStyles.scss";

.UpdatePassword {
  display: flex;
  height: 100%;
  padding-top: 13.8vh;
  padding-bottom: calc(100vh - 13.8vh - 586px);
  @include centerFormat();
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-color: $white100Color;
  .UpdatePassWordContainer {
    height: 506px;
    width: 35.7%;
    background-color: $white100Color;
    box-shadow: 0px 4px 10px 0px $black25Color;
    border-radius: 10px;
    text-align: center;
    h1 {
      @include heading2Font($primaryColor);
      padding-top: 10%;
    }

    p {
      @include body2Font($black75Color);
    }

    label {
      @include body1Font($black50Color);
      display: block;
      height: 22px;
      margin-bottom: 4px;
    }

    input[type="submit"] {
      @include heading2Font($white100Color);
      background-color: $primaryColor;
      display: block;
      margin-top: 50px;
      height: 48px;
      width: 100%;
      border-radius: 8px;
      border: none;
    }

    ul {
      list-style: none;
      line-height: 40px;
      padding-left: 0%;
      margin-top: 8.1%;
    }

    li {
      text-align: left;
    }

    button {
      background: none;
      border: none;
      display: inline-block;
      margin-left: 2.25%;
      color: $primaryColor;
      text-decoration-line: underline;
    }

    .InputTextBox {
      height: 22px;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid;
      border-color: $black50Color;
    }

    .InputDataContainer {
      margin-left: 15.4%;
      margin-top: 72px;
      height: 52px;
      width: 68.8%;
      text-align: left;
    }
  }
}
