@import "styles/ThemeStyles.scss";

#userLeavePage-background {
  height: 100%;
  padding-top: 9.3vh;
  padding-bottom: 4.2vh;
  background-image: url("../assets/BackgroundAsset.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  display: flex;
  @include centerFormat();

  #userLeavePage-container {
    width: 35.7vw;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px $black25Color;
    background-color: $white60Color;

    #userLeavePage-contents {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 7vh 5.6vw 5.7vh;

      #title {
        @include heading2Font($black100Color);
        padding-bottom: 44px;
        text-align: center;
      }

      #content {
        @include captionFont($black100Color);
        width: 100%;
        padding-bottom: 24px;
        white-space: pre-line;
        word-break: break-all;
      }

      #button {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: $errorColor;
        @include heading2Font($white100Color);
        cursor: pointer;
      }
    }
  }
}
